{% block pre_content %}
<div class="sidebar-section">
    <div class="sidebar-item" onclick="initStripeCheckout()">
        <span class="material-icons">attach_money</span>
        <span class="sidebar-label">Buy Credits</span>
    </div>
</div>
{% endblock %}
